{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


 
<div class="col-12 ">
    <div class="card mx-2">
      <div class="card-body row " >
          <div class="col-6">
            <img src="{{book.image.url}}" class="card-img-top" alt="" style="width:50%;">
          </div>
          <div class="col-6">
            <h1 class="card-title">{{book.title}}</h1>
          <p class="card-text">{{book.description}}</p>
          <p>Category :  {{book.category.name}} </p>
          <p class="card-text">{{book.borrowing_price}}</p>
          <button><a href="{% url 'buy' id=book.id %}" class="btn btn-primary">Borron book</a></button>  
            
          </div>
           
        </div>
      </div>
    </div>

         
  </div>



  <div class="card m-2">
    <h5 class="p-3">Total Comments: {{comments | length}}</h5>
    <div class="card-body">
        {% for cmt in comments %}
         
        <p>{{cmt.comment}}</p>
        {% endfor %}
    </div>
  </div>



<div class="card m-2">
   
    <div class="card-body">
        <form action=""  method="post" >
            <h1>Add  Post page</h1>
            {% csrf_token %}
            {{comment_form | crispy}}
            <button class="btn btn-warning">Submit</button>
        
        </form>
    </div>
  </div>

{% endblock %}